html {
  font-size: 14px;
  font-family: Helvetica;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#content {
  margin: 0 auto 60px auto;
  width: 650px;
}

#header {
  width: 650px;
  text-align: center;
}

#header .version {
  float: left;
  display: block;
  font-weight: bold;
  color: rgba(0,0,0,0.45);
  background-color: #f0f0f0;
  padding: 5px 8px 5px 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#header .source-link {
  float: right;
  display: block;
  font-weight: bold;
  color: rgba(0,0,0,0.45);
  background-color: #f0f0f0;
  padding: 5px 8px 5px 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#header .source-link a {
  color: rgba(0,0,0,0.45);
}
#header .source-link a:hover {
  color: rgba(0,0,0,0.60);
}


#header h1 {
  clear: both;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: -1px;
  color: #444;
  margin: 0 0 0 0;
  padding: 25px 0 0 0;
  font-weight: 100;
}

.detail_header {
  margin-bottom: 20px;
  border: none;
  border-left: solid 3px #ccc;
  background: #f7f7f7;
  color: gray;
  padding: 6px;
}

.detail_type {
  font-style: italic;
  padding-right: 6px;
}

.signature {
  color: #333;
  font-weight: bold;
}

.arguments {
  font-weight: bold;
  color: #558abb;
}

.detail_header_links {
  float: right;
  text-shadow: 0 1px 0 #fff;
  padding-right: 7px;
}

.detail_link {
  padding-right: 5px;
}

.docstring p:last-child {
  padding-bottom: 5px;
}

.docstring {
  font-family: monospace, serif;
}

.docstring p {
  padding-left: 20px;
  padding-right: 20px;
}

.search-box {
  margin:0 auto;
  padding: 8px 15px;
  border:1px solid #d0d0d0;
  background-color:#fcfcfc;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.search {
  margin:3px;
}

.search:focus {
  outline-color: transparent;
  outline-style: none;
}

.rounded {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

input[type=text]{
  color:#333;
}

.lighter {
  height:50px;
  padding:40px 25px;
}

.lighter input[type=text]{
  border: none;
  background-color:#fcfcfc;
  width: 445px;
  font-size: 16px;
  padding-left: 5px;
}

.source {
  display: none;
  font-family: monospace, serif;
  font-size: 85%;
  margin-top: -10px;
}

pre {
  padding: 0;
  margin: 0;
}

code {
  border: 1px dotted #ddd;
  padding:10px 10px !important;
  margin: 0 !important;
}

.view_source {
  font-size: 85%;
  padding-bottom: 5px;
}

a.view_source_link {
  font-weight: bold;
}

a.view_source_link:hover {
  text-decoration: underline;
  font-weight: bold;
}
